Cositas/dtd/oractica1.dtd

<!ELEMENT torneo (participante+)>
<!ATTLIST torneo edicion CDATA #REQUIRED
                 anteriorGanador IDREF #REQUIRED>

<!ELEMENT particpante (nombre, edad, pais, cabezaDeSerie?)>
<!ATTLIST participante idP ID #REQUIRED
                       pareja IDREF #REQUIRED>

<!ELEMENT nombre (#PCDATA)>
<!ELEMENT edad (#PCDATA)>
<!ELEMENT pais (#PCDATA)>
<!ELEMENT cabezaDeSerie (EMPTY)>
